@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, "Inter", sans-serif;
}

p {
  font-family: "inter", sans-serif;
  color: #6D6C80;
  line-height: 1.75;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
}
.section_title .sub-title{
    display: inline-block;
    line-height: 1.62;
    padding: 3px 16px;
    background: #EFEEFE;
    border-radius: 30px;
    font-weight: 600;
    color: #5751E1;
    margin: 0 0 14px;
}
.section_title .title{
    font-size: 36px;
    margin: 0;
    line-height: 1.33;
    letter-spacing: -.75px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "poppins";
      color: #161439;
}